<%= render 'layouts/nav-bar' %>

<section class="restaurant-list-page">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant-item" id="<%= restaurant.id %>">
      <div class="restaurant-card">
        <div class="content d-flex">
          <div class="col">
            <p class="restaurant-location-name fs-6">위치정보</p>
            <p class="restaurant-info-name fw-bold fs-2"><%= restaurant.name %></p>
            <span class="text-light fst-italic restaurant-info-one_line_review shadow-sm">사장님이 친절하고 가격 좋고 맛난 집</span>
          </div>
        </div>
        <%= image_tag "#{restaurant.thumbnail}" %>
      </div>
    </div>
  <% end %>
</section>

<script>
	$(function () {
		$(".restaurant-item").click(function (event) {
			const restaurantId = $(this).attr('id');
			location.href = `/restaurants/${restaurantId}/reviews`
		});
	});
</script>
